body{
	background-color:white;
	color:black;
	margin:0;
}

body a{
	color:blue;
}   

header img{
	display:none;
}

nav{
    overflow: hidden;
	width: 100%;
	border:1px solid black;
	background-color:white;
}

#logo{
    float:left;
	padding:0.2em;
}

ul {
	float:inherit;
	background-color:white;
}

li {
    display:inline-block;
    float: left;
    background-color:white;
}


li a {
    display:block;
    text-align: center;
	padding:18px;
	background-color:white;
}

li ul {
    display: none;
	background-color:white;
}

li ul li {
    display: block;
    float: none;
}


li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:visited {
    color:#660066;
}


.show-menu {
    color: #fff;
    padding: 10px 0;
    display: none;
	float:right;
}

nav input[type=checkbox]{
    display: none;
}

nav input[type=checkbox]:checked ~ #menu{
    display: block;
}

.imgGroup{
    max-width: 100%;
    max-height: 100%;
	margin: 0 auto;
}

#social{
	display:none;
}

.content{
	margin:0 auto;
	padding-top:1em;
	overflow:hidden;
	background-color:white;
}
.artista{
	margin:0 auto;
}
.artista img{
	margin-right:1em;
	max-width:60%;
	max-height: 60%;
	float:left;
}
.artista p{
	position:relative;
}

.logreg{
	margin:0 auto;
	text-align:center;
	padding:2em;
}

.gruppi{
	display: inline-block;
	text-align: center;
	margin:1em auto;
	position:relative;
}


.gruppi p a:visited{
	color:#660066;
}

.artisti {
	float:left;
	max-height:97%;
	max-width:97%;
    vertical-align: middle;
}

.artisti{
	position:relative;
}



.artisti{
	float:left;
	overflow:hidden;
		max-width:50%;
	    max-height: 100%;
}

.articolo h1{
	margin:0 auto;
}


.articolo p{
	margin:0 auto;
}
.testo{
	padding-bottom:3em;
}
.testo a{
	color:black;
}

.articolo h2{
	margin:0 auto;
}
.commento{
	border-radius:3px;

	padding:1em;
	margin:2em auto;
}

.orari {
	border-radius:6px;
	padding-bottom:0.5em;
	margin:1em auto;
	text-decoration: none;
	background-color:white;

border:1px solid black;
}
.orari h1 a{
	text-decoration: none;
}
.orari h1{
	margin-left:3%;
	margin-right:3%;
	margin:0em auto;
	padding:0.5em;

}
.orari p{
	margin-top:0em;
	margin-left:3%;
	margin-right:3%;
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
	text-align: justify;
    text-justify: inter-word;
	margin:0 auto;
}

.comearrivare {
	border-radius:6px;
	padding-bottom:0.5em;
	margin:1em auto;
	text-decoration: none;
	background-color:white;
}

.comearrivare h1{
	margin-left:3%;
	margin-right:3%;
	margin:0em auto;
	padding:0.5em;
}
.comearrivare h3{
	margin-left:3%;
	margin-right:3%;
	margin:0em auto;
	padding:0.5em;
}
.comearrivare p{
	margin-left:3%;
	margin-right:3%;
	margin:0em auto;
	padding:0.5em;
}
#auto{
    border-radius:6px;
	padding-bottom:0.5em;
	margin:1em auto;
	text-decoration: none;
	background-color:white;
	border:1px solid black;
}

#autobus{
    border-radius:6px;
	padding-bottom:0.5em;
	margin:1em auto;
	text-decoration: none;
	background-color:white;
	border:1px solid black;
}

#treno{
    border-radius:6px;
	padding-bottom:0.5em;
	margin:1em auto;
	text-decoration: none;
	background-color:white;
	border:1px solid black;
    
}

.articoli {
	border-radius:6px;
	padding-bottom:0.5em;
	margin:1em auto;
	text-decoration: none;
	background-color:white;
	border:1px solid black;
}

.articoli h1 a:visited{
	color:#660066;
}

.articoli h1{
	margin-left:3%;
	margin-right:3%;
	margin:0em auto;
	padding:0.5em;

}
.articoli p{
	margin-top:0em;
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
	text-align: justify;
    text-justify: inter-word;
	margin:0 auto;
}

.articoli p a{
		text-decoration: none;
		color:black;
}

.pagination{
	text-align:center;
	padding:1em;
	text-decoration: none;
}

.pagination a{
	text-decoration:none;
}
.top{
	clear:both;
}
.top a{
	float:right;
	padding:1em;
}
.biglietti{
	margin:0 auto;
}
.biglietto{
	overflow:hidden;
	float:left;
	margin:0 auto;
	padding:3%;
    border-radius:6px;
border:1px solid black;
}

.biglietto img{
		max-width:40%;
	    max-height: 100%;
		float:left;
}
.lineup{
		max-width:50%;
	    max-height: 50%;
		margin:0 auto;
}

.sx{
	float:left;
}
.newsletter{
	margin:0 auto;
}

.newsletter p a{
	text-decoration:none;
}


.newsletter h1 a:visited{
	color:#660066;
}

.newsletter h1 div a:visited{
	color:#660066;
}

.newsletter form{
	display:none;
}
li p{
	margin-top:18px;
	margin-bottom:18px;
}

.top a img{
display:none;
}

footer{
	background-color:white;
	border:1px solid black;
	clear:both;
	padding-top:0.2em;
	padding-bottom:0.2em;
	overflow:hidden;
}

footer p{
	float:left;
}

.mapsite{
    border-radius:6px;
	padding-bottom:0.5em;
	background-color:white;
	margin:1em auto;
	text-decoration: none;
    border-radius:6px;
border:1px solid black;
}

#newsfield{
    display:none;
}






#goTop {
    script-src: nosource;
    visibility: hidden;

}














@media screen and (max-width : 600px){
	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
    ul {
        position: static;
        display: none;
    }

    li {
        
    }

    ul li, li a {
        width: 100%;
    }

    .show-menu {
        display:block;
		padding-left:12px;
		padding-right:12px;
    }
	header{
		display:none;
	}
	#logo img{
		width:80px;
		height:auto;
	}
	.lineup{
		max-width:100%;
	    max-height: 100%;
		margin:0 auto;
}
}
@media only screen and (min-width: 600px) {
    
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}
	
}

@media only screen and (min-width: 768px) {
    
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}
